* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
}

body {
  font-family: "din-2014-narrow", system, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary;
  transition: all .4s .3s ease-in;
  background-color: $bg;
}
body,html{
}

input, button {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}
